<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Example.com REST API</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>main.scala.de.restapi;com.wordnik.swagger.jaxrs.listing</param-value>
        </init-param>
        <!-- ;com.wordnik.swagger.jaxrs;com.wordnik.swagger.jaxrs.listing -->

        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/gradle-scala-rest-archetype/rest</param-value>
        </init-param>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>


    <filter>
        <filter-name>ApiOriginFilter</filter-name>
        <filter-class>main.scala.de.restapi.ApiOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiOriginFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>MetricsServlet</servlet-name>
        <servlet-class>com.yammer.metrics.reporting.MetricsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MetricsServlet</servlet-name>
        <url-pattern>/metrics</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Example.com REST API</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>